

.button_weiterleiten{
    -fx-background-image: url("../../../../resources/bilder/mail9.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 25;
    -fx-background-color: transparent;
    -fx-background-position: center;
}
.button_search{
    -fx-background-image: url("../../../../resources/bilder/search1.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 25;
    -fx-background-color: transparent;
    -fx-background-position: center;

}
.button_mailantworten{
    -fx-background-image: url("../../../../resources/bilder/mail10.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 25;
    -fx-background-color: transparent;
    -fx-background-position: center;

}
.button_loeschen{
    -fx-background-image: url("../../../../resources/bilder/envelope.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 25;
    -fx-background-color: transparent;
    -fx-background-position: center;

}

.button_neue{
    -fx-background-image: url("../../../../resources/bilder/edit3.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-color: transparent;
    -fx-background-position: center;
}
.button_option {
    -fx-background-image: url("../../../../resources/bilder/network1.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-color: transparent;
    -fx-background-position: center;
}

.button_menu{
    -fx-background-image: url("../../../../resources/bilder/settings5.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-color: transparent;
    -fx-background-position: center;
}

.button_mailoption{
    -fx-background-image: url("../../../../resources/bilder/grid.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-color: transparent;
    -fx-background-position: center;
}
.button_sent{
    -fx-background-image: url("../../../../resources/bilder/paper-plane.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-color: transparent;
    -fx-background-position: center;
}
.button_sent1 {
    -fx-background-image: url("../../../../resources/bilder/paper-plane4.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-color: transparent;
    -fx-background-position: center;
}
.button_attachment{
    -fx-background-image: url("../../../../resources/bilder/attachment1.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-color: transparent;
    -fx-background-position: center;

}
.button_save{
    -fx-background-image: url("../../../../resources/bilder/save1.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-color: transparent;
    -fx-background-position: center;

}
.button_cancel{
    -fx-background-image: url("../../../../resources/bilder/cancel.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-color: transparent;
    -fx-background-position: center;

}



