.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 2;
}
.split-pane:vertical > .split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 2;
}