
.button_weiterleiten{
    -fx-background-image: url("../../../../resources/bilder/weiterleiten.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 25;
    -fx-background-color: transparent;
    -fx-background-position: center;
}
.button_search{
    -fx-background-image: url("../../../../resources/bilder/search.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 25;
    -fx-background-color: transparent;
    -fx-background-position: center;

}
.button_mailantworten{
    -fx-background-image: url("../../../../resources/bilder/antworten2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 25;
    -fx-background-color: transparent;
    -fx-background-position: center;

}
.button_loeschen{
    -fx-background-image: url("../../../../resources/bilder/loeschen.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 25;
    -fx-background-color: transparent;
    -fx-background-position: center;

}
.button_neue{
    -fx-background-image: url("../../../../resources/bilder/neue.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-color: transparent;
    -fx-background-position: center;
}
.button_option {
    -fx-background-image: url("../../../../resources/bilder/option.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-color: transparent;
    -fx-background-position: center;
}
.button_menu{
    -fx-background-image: url("../../../../resources/bilder/menu.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-color: transparent;
    -fx-background-position: center;
}
.button_mailoption{
    -fx-background-image: url("../../../../resources/bilder/success.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-color: transparent;
    -fx-background-position: center;
}

